{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Facilities and Schedule</title>
    <link rel="stylesheet" type="text/css" href="{% static 'athleticsweb/style.css' %}">
</head>
<body>
    <h1 id="SchName">LOWELL FINCH ACADEMY</h1>
    <h1 id="SchMotto">SAPIENTIA ET VERITAS</h1>
    <br style="size: 10px;">
    <img src="{% static 'athleticsweb/website_images/school_nobg_logo.png' %}" class="right-img" alt="School Logo" style="display: block; width: 30%; height: auto; float: right;">

<h2 style="text-align: center;">Our Sports Facilities</h2>
<table border="1" style="margin: 0 auto;">
    <tr>
        <th>id</th>
        <th>Category Name</th>
        <th>Location</th>
    </tr>
    {% for facility in facilities %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ facility.CategoryName }}</td>
        <td>{{ facility.Location }}</td>
    </tr>
    {% endfor %}
</table>

<h2 style="text-align: center;">Current Practice Schedule</h2>
<table border="1" style="margin: 0 auto;">
    <tr>
        <th>id</th>
        <th>ScheduleDate</th>
        <th>ScheduleTime</th>
        <th>categoryName_id</th>
    </tr>
    {% for schedule in schedule %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ schedule.ScheduleDate }}</td>
        <td>{{ schedule.ScheduleTime }}</td>
        <td>{{ schedule.categoryName_id_id }}</td>
    </tr>
    {% endfor %}
</table>


<h2 style="text-align: center;">Glimpse of OUR Sports Facilities</h2>
<img src="{% static 'athleticsweb/website_images/facil_merged.png' %}" alt="Sports Facilities Photo" style="height: auto; width: 70%; display: block; margin: 0 auto;">
<br style="size: 10px;">
<img src="{% static 'athleticsweb/website_images/school_crest.jpeg' %}" alt="School Crest" style="height: auto; width: 30%; display: block; margin: 0 auto;">

    <div style="justify-content: center;">
   <ul style="list-style-type: none; padding: 10px; background-color: yellowgreen; justify-content: center;">
    <li><a href="{% url 'query' %}">Visit the Queries page</a></li>
    <li><a href="{% url 'home' %}">Go back to MAIN PAGE</a></li>
   </ul>
</div>
<footer>
    <p id="footer-text">CONTACT US: Email:admissions@lowellfinch.edu || Phone: 324-2323 || Address: 100 Finch Avenue, Petersberg, 14587, UK</p>
</footer>
</body>
</html>