{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>House Leaders</title>
    <link rel="stylesheet" type="text/css" href="{% static 'athleticsweb/style.css' %}">
</head>
<body>
    <h1 id="SchName">LOWELL FINCH ACADEMY</h1>
    <h1 id="SchMotto">SAPIENTIA ET VERITAS</h1>
    <br style="size: 10px;">
    <img src="{% static 'athleticsweb/website_images/school_nobg_logo.png' %}" class="right-img" alt="School Logo" style="display: block; width: 30%; height: auto; float: right;">

<div style="justify-content: center;">
   <ul style="list-style-type: none; padding: 10px; background-color: yellowgreen; justify-content: center;">
    <li><a href="{% url 'trophies_categories' %}">Visit the Trophies and Categories page</a></li>
    <li><a href="{% url 'home' %}">Go back to MAIN PAGE</a></li>
   </ul>
</div>
<footer>
    <p id="footer-text">CONTACT US: Email:admissions@lowellfinch.edu || Phone: 324-2323 || Address: 100 Finch Avenue, Petersberg, 14587, UK</p>
</footer>
</body>
</html>