body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: black;
    color: white;
}


h1#SchName {
    text-align: center; 
    background-color: blue;
    color: yellow;
    margin-top: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

h1#SchMotto {
    text-align: center; 
    background-color: brown;
    color: white;
    margin-top: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

p#SchHist {
    font-size: 18px;
    line-height: 1.5;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    width: 70%;
}

h2 {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

#links {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: yellowgreen;
}

#links ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.right-img {
    float: right;
    margin-left: 15px; 
    width: 150px;       
}